ChoiceScreen {
    layers: normal language;
}
ChoiceScreen TabbedContent {
    height: 1fr;
}
ChoiceScreen TabPane {
    height: 1fr;
}

ChoiceScreen #language-horizontal {
    width: auto;
    height: auto;
    layer: language;
}
ChoiceScreen #language-label {
    margin: 0;
}
ChoiceScreen #language-select {
    margin: 0;
    width: 15;
}