Screen {
    layers: normal language;
}
TabbedContent {
    height: 1fr;
}
TabPane {
    height: 1fr;
}

#elements-scroll {
    width: 100%;
    height: 1fr;
    overflow: auto;
}
#elements-grid {
    layout: grid;
    grid-size: 18 9;
    grid-gutter: 0;
    min-width: 108;
    height: 28;
    overflow: auto;
}
/* .element, Static {
    width: auto;
    height: auto;
    min-width: 4;
    min-height: 4;
} */
#main-compounds-container {
    overflow: auto;
    height: 1fr;
    layout: horizontal;
}
Screen.small .compounds-container {
    layout: vertical;
}
Screen.wide .compounds-container {
    layout: horizontal;
}
#compounds-container-1,
#compounds-container-2 {
    height: auto;
}

#language-label {
    margin: 0;
}
#language-select {
    margin: 0;
    width: 15;
}
#language-horizontal {
    width: auto;
    height: 1;
    layer: language;
}
.compounds-category-label {
    border: heavy $background-lighten-2;
    content-align: center middle;
    width: 100%;
    height: auto;
    margin: 0;
}
.selection-list--button, .selection-list--button-highlighted {
    color: red;
}
.selection-list--button-selected, .selection-list--button-selected-highlighted {
    color: lime;
}



.alkali-metal {
    background: #5b1f2a;
    border: round #a94455;
}

.alkaline-earth-metal {
    background: #4a3218;
    border: round #9b6a32;
}

.transition-metal {
    background: #45451d;
    border: round #8a8a3a;
}

.post-transition-metal {
    background: #253f2b;
    border: round #5f8f66;
}

.metalloid {
    background: #1f4a35;
    border: round #4fa36c;
}

.reactive-nonmetal {
    background: #17344a;
    border: round #4b8fbd;
}

.halogen {
    background: #37265a;
    border: round #8160c7;
}

.noble-gas {
    background: #33204d;
    border: round #7656a6;
}

.lanthanide {
    background: #4a2538;
    border: round #a05c7d;
}

.actinide {
    background: #4f2c1e;
    border: round #a46645;
}